<a href="/rides/view/{{this._id}}" class="route-link">
    <div class="route">
        <h1 class="name">{{this.start}} to {{this.finish}}</h1>
        <div class="desc-holder">
            <h2 class="time">{{this.time}}</h2>
            <p class="description">{{this.description}}</p>
        </div>
        <hr>
    </div>
</a>
