<!doctype html>
<html lang="en">

<head>

    <title>CarCool Ride Share</title>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

</head>

<body>
    <!-- views/rides-index.handlebars -->
    <h1 class="splash">Find your ride!</h1>
    <div class="rides">
        {{#each rides}}
        <a href="/rides/view/{{this._id}}" class="link"><div class='ride'>
            <h1 class="display-4">{{this.start}} To {{this.finish}}</h1>
            <h3 class="time">{{this.time}}</h3>
            <h3 class="desc">{{this.description}}</h3>
            {{#if this.hasDriver}}
                <h2 class="offered">Passengers Needed</h2>
            {{else}}
                <h2 class="wanted">Driver Needed</h2>
            {{/if}}
        </div></a>
        {{/each}}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{#is currentPage 1}}
         <a>
           <li class="page-button disabled">
             Prev
           </li>
         </a>
       {{else}}
         <a href="?term={{@root.searchQuery}}&page={{subtract currentPage 1}}">
           <li class="page-button">
             Prev
           </li>
         </a>
       {{/is}}
       {{!-- numbered page buttons --}}
       {{#each pageNumbers as |pageNumber|}}
           <a href="?term={{@root.searchQuery}}&page={{pageNumber}}">
             {{#is pageNumber @root.currentPage}}
             <li class="page-button current">
             {{else}}
             <li class="page-button">
             {{/is}}
               {{pageNumber}}
             </li>
           </a>
       {{/each}}
       {{!-- next page button --}}
       {{#is currentPage numPages}}
         <a>
           <li class="page-button disabled">
             Next
           </li>
         </a>
       {{else}}
         <a href="?term={{@root.searchQuery}}&page={{sum currentPage 1}}">
           <li class="page-button">
             Next
           </li>
         </a>
       {{/is}}
      </ul>
    </nav>


    <footer class="ride-footer">

        <a href="#">Back to top</a>
    </footer>



</body>

</html>
