<!-- views/rides-show.handlebars -->
<div class="nice-buttons">
  {{#if ride.hasDriver}}
    <h1>Ride Offered</h1>
  {{else}}
    <h1>Ride Wanted</h1>
  {{/if}}
    <h1>Route: {{ride.start}} to {{ride.finish}}</h1>
    <h2>Time: {{ride.time}}</h2>
    <h3>Posted by: {{ride.author.username}}
    <p>Seats: {{ride.seats}}</p>
    <p>Description: {{ride.description}}</p>
</div>

    {{#if userIsAuthor}}
    <p>
        <form method="GET" action="/rides/view/{{ride._id}}/edit">
            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
        </form>
    </p>

    <!--Delete Button-->
    <p>
        <form method="POST" action="/rides/view/{{ride._id}}?_method=DELETE">
            <button type="submit" class="btn btn-primary btn-sm">Delete</button>
        </form>
    </p>
    {{/if}}

    <footer class="ride-footer">

        <a href="/rides">Back to rides</a>
    </footer>


<style>
    .nice-buttons {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>
