<!-- views/rides-show.handlebars -->
<div class="nice-buttons">
  {{#if ride.hasDriver}}
    <h1>Ride Offered</h1>
  {{else}}
    <h1>Ride Wanted</h1>
  {{/if}}
    <h1>Route: {{ride.start}} to {{ride.finish}}</h1>
    <h2>Time: {{ride.time}}</h2>
    <h3>Posted by: {{ride.author.username}}
  {{#if ride.hasDriver}}
    <p>Seats Left: {{seatsLeft}} / {{ride.seats}}</p>
  {{/if}}
    <p>Description: {{ride.description}}</p>
    <ul>
        {{#each riders}}
          <li><a href = "/users/{{this._id}}">{{this.username}}</a>

              {{#if ../userIsAuthor}}
              <form method="POST" action="/rides/view/{{../ride._id}}/adduser?_method=DELETE">
                  <button type="submit" class="btn btn-primary btn-sm">Remove from Ride</button>
              </form>
              {{/if}}
          </li>

        {{/each}}
    </ul>
</div>

    {{#if userIsAuthor}}
    <p>
        <form method="GET" action="/rides/view/{{ride._id}}/edit">
            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
        </form>
    </p>

    <!--Delete Button-->
    <p>
        <form method="POST" action="/rides/view/{{ride._id}}?_method=DELETE">
            <button type="submit" class="btn btn-primary btn-sm">Delete</button>
        </form>
    </p>
    {{else}}
    {{#if seatsLeft }}

    <p>
        <form method="POST" action="/rides/view/{{ride._id}}/adduser">
            <button type="submit" class="btn btn-primary btn-sm">Claim your seat</button>
        </form>
    </p>
    {{/if}}
    {{/if}}

    <footer class="ride-footer">

        <a href="/rides">Back to rides</a>
    </footer>


<style>
    .nice-buttons {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>
