<div class="user">
<img height="200px" width="200px" src="{{user.avatarURL}}-square.">
<img src="{{user.avatarURL}}-square." alt="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/2000px-User_font_awesome.svg.png">
<h1>User: {{user.username}}</h1>
<p>User since: {{user.createdAt}}</p>
{{#if user.hasCar}}
<p>has a car</p>
{{else}}
<p>Doesn't have a car</p>
{{/if}}
<ul>
  {{#each user.rides}}
  <li>{{this.start}}</li>
  {{/each}}
</ul>
</div>
